{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="row justify-content-md-center">
    <div class="col-md-4">
        <h1 class="display-1 mb-5 text-center">
            1000 MEALS
        </h1>

        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <div class="mb-3">
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            </div>

            <div class="mb-3">
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="text-center">
                <div class="mb-3">
                    <button class="btn btn-lg btn-primary" type="submit">
                        Connexion
                    </button>
                </div>

                <a href="{{ url('password_request') }}" data-tf="pwd-request">
                    Mot de passe oublié ?
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
