{% extends 'base.html.twig' %}

{% block title %}Ma liste de courses{% endblock %}

{% block body %}
    <h1 class="display-3 mb-3" data-tf="meal.list">
        Ma liste de courses
    </h1>

    <h5 class="display-6 mb-3">
        Semaine {{ navigator.from|date('W') }}
        du {{ navigator.from|date('d/m/Y') }}
        au {{ navigator.to|date('d/m/Y') }}
    </h5>

    <p>
        <em>Double-cliquez sur les éléments ajoutés manuellement pour les éditer ou les supprimer.</em>
    </p>

    <div class="card mb-3">
        <div class="card-header d-flex justify-content-between">
            A prendre

            <ul class="nav nav-pills card-header-pills ">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url('shopping_new', { menu: menu.id }) }}">+</a>
                </li>
            </ul>
        </div>
        <div class="card-body totake">
            {% include 'shopping/item-list.html.twig' with { 'categories': toTakes } only %}
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            Déjà pris
        </div>
        <div class="card-body taken">
            {% include 'shopping/item-list.html.twig' with { 'categories': takens } only %}
        </div>
    </div>
{% endblock %}
