{% trans_default_domain "emails" %}

{% extends 'mails/layout/base-system.html.twig' %}

{%- block subject -%}
    1000 Meals | Réinitialisation de votre mot de passe
{%- endblock -%}

{% block html_body %}
    <p class="title">
        Réinitialisation de votre mot de passe
    </p>

    <p>
        Vous nous avez indiqué avoir oublié votre mot de passe. Si c’est vraiment le cas, cliquez ici pour en choisir un autre :
    </p>

    <p>
        <a href="{{ url('password_reset', {'token': passwordRequest.token}) }}" class="button">
            Choisir un nouveau mot de passe
        </a>
    </p>

    <p>
        Si vous n’aviez pas l’intention de réinitialiser votre mot de passe, ignorez simplement cet e-mail, et votre mot de passe ne sera pas changé.
    </p>
{% endblock %}

{% block text %}
    Réinitialisation de votre mot de passe
    Vous nous avez indiqué avoir oublié votre mot de passe. Si c’est vraiment le cas, cliquez ici pour en choisir un autre :
    {{ url('password_reset', {'token': passwordRequest.token}) }}
    Si vous n’aviez pas l’intention de réinitialiser votre mot de passe, ignorez simplement cet e-mail, et votre mot de passe ne sera pas changé.
{% endblock %}
