{% extends 'base.html.twig' %}

{% block title %}Mes semaines types{% endblock %}

{% block body %}
    <h1 class="display-3 mb-3" data-tf="week.edit">
        Modifier ma semaine type
    </h1>

    <a href="{{ url('week') }}" class="mb-3 btn btn-secondary">
        Retour
    </a>

    {{ form_start(form, {'attr': {
        'novalidate': 'novalidate',
        'data-tf': 'week.form'
    }}) }}
        {% include 'week/form.html.twig' %}

        <button type="submit" class="btn btn-primary">
            Modifier cette semaine type
        </button>
    {{ form_end(form, { 'render_rest': false }) }}
{% endblock %}
