{% extends 'base.html.twig' %}

{% block title %}Ingrédients{% endblock %}

{% block body %}
    <h1 data-tf="adm.ingredient.new">
        Nouvel ingrédient
    </h1>

    {{ form_start(form, {'attr': {
        'novalidate': 'novalidate',
        'data-tf': 'adm.ingredient.form'
    }}) }}
        {% include 'admin/ingredient/form.html.twig' %}

        <button type="submit" class="btn btn-primary">
            Ajouter cet ingrédient
        </button>

        <a href="{{ url('admin_ingredient') }}" class="btn btn-secondary">
            Retour
        </a>
    {{ form_end(form) }}
{% endblock %}
