{% extends 'base.html.twig' %}

{% block title %}Ajouter ce plat{% endblock %}

{% block body %}
    <h1 class="display-3 mb-3" data-tf="meal.edit">
        Ajouter ce plat
    </h1>

    <a href="{{ url('meal_closet') }}" class="btn btn-secondary mb-3">
        Retour
    </a>

    {{ form_start(form, {'attr': {
        'novalidate': 'novalidate',
        'data-tf': 'meal.form'
    }}) }}
        {% include 'meal/form.html.twig' %}

        <button type="submit" class="btn btn-primary">
            Ajouter ce plat
        </button>
    {{ form_end(form) }}
{% endblock %}
