{% extends 'base.html.twig' %}

{% block title %}Mes plats{% endblock %}

{% block body %}
    <h1 data-tf="meal.new" class="display-3 mb-3">
        Mon nouveau plat
    </h1>

    <a href="{{ url('meal') }}" class="btn btn-secondary mb-3">
        Retour
    </a>

    {{ form_start(form, {'attr': {
        'novalidate': 'novalidate',
        'data-tf': 'meal.form'
    }}) }}
        {% include 'meal/form.html.twig' %}

        <button type="submit" class="btn btn-primary">
            Ajouter ce plat
        </button>
    {{ form_end(form) }}
{% endblock %}
