{% extends 'base.html.twig' %}

{% block title %}Lien de récupération envoyé{% endblock %}

{% block body %}
    <h1 data-tf="request-success">
        Ca devrait vous aider !
    </h1>

    <p>
        Si votre email existe bien dans notre base de données, ue lien de récupération vous y a été envoyé.
    </p>

    <a href="{{ url('home') }}" data-tf="back">
        Retour à l'acceuil
    </a>
{% endblock %}
