{% extends 'base.html.twig' %}

{% block title %}Mot de passe mis à jour{% endblock %}

{% block body %}
    <h1 data-tf="reset-success">
        Mot de passe mis à jour
    </h1>

    <p>
        Votre mot de passe a bien été mis à jour.
    </p>

    <a href="{{ url('home') }}" data-tf="back">
        Retour à l'acceuil
    </a>
{% endblock %}
