{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="mb-3">
        Bienvenue {{ app.user.username }}, <a href="{{ path('logout') }}">Logout</a>
    </div>
{% endblock %}
