{% extends 'base.html.twig' %}

{% block title %}Mes thèmes{% endblock %}

{% block body %}
    <h1 class="display-3 mb-3" data-tf="theme.edit">
        Modifier mon thème
    </h1>

    <a href="{{ url('theme') }}" class="mb-3 btn btn-secondary">
        Retour
    </a>

    {{ form_start(form, {'attr': {
        'novalidate': 'novalidate',
        'data-tf': 'theme.form'
    }}) }}
        {% include 'theme/form.html.twig' %}

        <button type="submit" class="btn btn-primary">
            Modifier ce thème
        </button>
    {{ form_end(form) }}
{% endblock %}
