{% extends 'base.html.twig' %}

{% block title %}Mes thèmes{% endblock %}

{% block body %}
    <h1 data-tf="theme.new">
        Mon nouveau thème
    </h1>

    {{ form_start(form, {'attr': {
        'novalidate': 'novalidate',
        'data-tf': 'theme.form'
    }}) }}
        {% include 'theme/form.html.twig' %}

        <button type="submit" class="btn btn-primary">
            Ajouter ce thème
        </button>

        <a href="{{ url('theme') }}" class="btn btn-secondary">
            Retour
        </a>
    {{ form_end(form) }}
{% endblock %}
